---
layout: base_simple
---

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
                <td>$137,500</td>
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td>$327,900</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>Javascript Developer</td>
                <td>San Francisco</td>
                <td>39</td>
                <td>2009/09/15</td>
                <td>$205,500</td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>2008/12/13</td>
                <td>$103,600</td>
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>30</td>
                <td>2008/12/19</td>
                <td>$90,560</td>
            </tr>
            <tr>
                <td>Quinn Flynn</td>
                <td>Support Lead</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2013/03/03</td>
                <td>$342,000</td>
            </tr>
            <tr>
                <td>Charde Marshall</td>
                <td>Regional Director</td>
                <td>San Francisco</td>
                <td>36</td>
                <td>2008/10/16</td>
                <td>$470,600</td>
            </tr>
            <tr>
                <td>Haley Kennedy</td>
                <td>Senior Marketing Designer</td>
                <td>London</td>
                <td>43</td>
                <td>2012/12/18</td>
                <td>$313,500</td>
            </tr>
            <tr>
                <td>Tatyana Fitzpatrick</td>
                <td>Regional Director</td>
                <td>London</td>
                <td>19</td>
                <td>2010/03/17</td>
                <td>$385,750</td>
            </tr>
            <tr>
                <td>Michael Silva</td>
                <td>Marketing Designer</td>
                <td>London</td>
                <td>66</td>
                <td>2012/11/27</td>
                <td>$198,500</td>
            </tr>
            <tr>
                <td>Paul Byrd</td>
                <td>Chief Financial Officer (CFO)</td>
                <td>New York</td>
                <td>64</td>
                <td>2010/06/09</td>
                <td>$725,000</td>
            </tr>
            <tr>
                <td>Gloria Little</td>
                <td>Systems Administrator</td>
                <td>New York</td>
                <td>59</td>
                <td>2009/04/10</td>
                <td>$237,500</td>
            </tr>
            <tr>
                <td>Bradley Greer</td>
                <td>Software Engineer</td>
                <td>London</td>
                <td>41</td>
                <td>2012/10/13</td>
                <td>$132,000</td>
            </tr>
            <tr>
                <td>Dai Rios</td>
                <td>Personnel Lead</td>
                <td>Edinburgh</td>
                <td>35</td>
                <td>2012/09/26</td>
                <td>$217,500</td>
            </tr>
            <tr>
                <td>Jenette Caldwell</td>
                <td>Development Lead</td>
                <td>New York</td>
                <td>30</td>
                <td>2011/09/03</td>
                <td>$345,000</td>
            </tr>
            <tr>
                <td>Yuri Berry</td>
                <td>Chief Marketing Officer (CMO)</td>
                <td>New York</td>
                <td>40</td>
                <td>2009/06/25</td>
                <td>$675,000</td>
            </tr>
            <tr>
                <td>Caesar Vance</td>
                <td>Pre-Sales Support</td>
                <td>New York</td>
                <td>21</td>
                <td>2011/12/12</td>
                <td>$106,450</td>
            </tr>
            <tr>
                <td>Doris Wilder</td>
                <td>Sales Assistant</td>
                <td>Sidney</td>
                <td>23</td>
                <td>2010/09/20</td>
                <td>$85,600</td>
            </tr>
            <tr>
                <td>Angelica Ramos</td>
                <td>Chief Executive Officer (CEO)</td>
                <td>London</td>
                <td>47</td>
                <td>2009/10/09</td>
                <td>$1,200,000</td>
            </tr>
            <tr>
                <td>Gavin Joyce</td>
                <td>Developer</td>
                <td>Edinburgh</td>
                <td>42</td>
                <td>2010/12/22</td>
                <td>$92,575</td>
            </tr>
            <tr>
                <td>Jennifer Chang</td>
                <td>Regional Director</td>
                <td>Singapore</td>
                <td>28</td>
                <td>2010/11/14</td>
                <td>$357,650</td>
            </tr>
            <tr>
                <td>Brenden Wagner</td>
                <td>Software Engineer</td>
                <td>San Francisco</td>
                <td>28</td>
                <td>2011/06/07</td>
                <td>$206,850</td>
            </tr>
            <tr>
                <td>Fiona Green</td>
                <td>Chief Operating Officer (COO)</td>
                <td>San Francisco</td>
                <td>48</td>
                <td>2010/03/11</td>
                <td>$850,000</td>
            </tr>
            <tr>
                <td>Shou Itou</td>
                <td>Regional Marketing</td>
                <td>Tokyo</td>
                <td>20</td>
                <td>2011/08/14</td>
                <td>$163,000</td>
            </tr>
            <tr>
                <td>Michelle House</td>
                <td>Integration Specialist</td>
                <td>Sidney</td>
                <td>37</td>
                <td>2011/06/02</td>
                <td>$95,400</td>
            </tr>
            <tr>
                <td>Suki Burks</td>
                <td>Developer</td>
                <td>London</td>
                <td>53</td>
                <td>2009/10/22</td>
                <td>$114,500</td>
            </tr>
            <tr>
                <td>Prescott Bartlett</td>
                <td>Technical Author</td>
                <td>London</td>
                <td>27</td>
                <td>2011/05/07</td>
                <td>$145,000</td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>2008/10/26</td>
                <td>$235,500</td>
            </tr>
            <tr>
                <td>Martena Mccray</td>
                <td>Post-Sales support</td>
                <td>Edinburgh</td>
                <td>46</td>
                <td>2011/03/09</td>
                <td>$324,050</td>
            </tr>
            <tr>
                <td>Unity Butler</td>
                <td>Marketing Designer</td>
                <td>San Francisco</td>
                <td>47</td>
                <td>2009/12/09</td>
                <td>$85,675</td>
            </tr>
            <tr>
                <td>Howard Hatfield</td>
                <td>Office Manager</td>
                <td>San Francisco</td>
                <td>51</td>
                <td>2008/12/16</td>
                <td>$164,500</td>
            </tr>
            <tr>
                <td>Hope Fuentes</td>
                <td>Secretary</td>
                <td>San Francisco</td>
                <td>41</td>
                <td>2010/02/12</td>
                <td>$109,850</td>
            </tr>
            <tr>
                <td>Vivian Harrell</td>
                <td>Financial Controller</td>
                <td>San Francisco</td>
                <td>62</td>
                <td>2009/02/14</td>
                <td>$452,500</td>
            </tr>
            <tr>
                <td>Timothy Mooney</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>37</td>
                <td>2008/12/11</td>
                <td>$136,200</td>
            </tr>
            <tr>
                <td>Jackson Bradshaw</td>
                <td>Director</td>
                <td>New York</td>
                <td>65</td>
                <td>2008/09/26</td>
                <td>$645,750</td>
            </tr>
            <tr>
                <td>Olivia Liang</td>
                <td>Support Engineer</td>
                <td>Singapore</td>
                <td>64</td>
                <td>2011/02/03</td>
                <td>$234,500</td>
            </tr>
            <tr>
                <td>Bruno Nash</td>
                <td>Software Engineer</td>
                <td>London</td>
                <td>38</td>
                <td>2011/05/03</td>
                <td>$163,500</td>
            </tr>
            <tr>
                <td>Sakura Yamamoto</td>
                <td>Support Engineer</td>
                <td>Tokyo</td>
                <td>37</td>
                <td>2009/08/19</td>
                <td>$139,575</td>
            </tr>
            <tr>
                <td>Thor Walton</td>
                <td>Developer</td>
                <td>New York</td>
                <td>61</td>
                <td>2013/08/11</td>
                <td>$98,540</td>
            </tr>
            <tr>
                <td>Finn Camacho</td>
                <td>Support Engineer</td>
                <td>San Francisco</td>
                <td>47</td>
                <td>2009/07/07</td>
                <td>$87,500</td>
            </tr>
            <tr>
                <td>Serge Baldwin</td>
                <td>Data Coordinator</td>
                <td>Singapore</td>
                <td>64</td>
                <td>2012/04/09</td>
                <td>$138,575</td>
            </tr>
            <tr>
                <td>Zenaida Frank</td>
                <td>Software Engineer</td>
                <td>New York</td>
                <td>63</td>
                <td>2010/01/04</td>
                <td>$125,250</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>Software Engineer</td>
                <td>San Francisco</td>
                <td>56</td>
                <td>2012/06/01</td>
                <td>$115,000</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>Junior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>43</td>
                <td>2013/02/01</td>
                <td>$75,650</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>Sales Assistant</td>
                <td>New York</td>
                <td>46</td>
                <td>2011/12/06</td>
                <td>$145,600</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>Regional Director</td>
                <td>London</td>
                <td>47</td>
                <td>2011/03/21</td>
                <td>$356,250</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>Systems Administrator</td>
                <td>London</td>
                <td>21</td>
                <td>2009/02/27</td>
                <td>$103,500</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>Developer</td>
                <td>San Francisco</td>
                <td>30</td>
                <td>2010/07/14</td>
                <td>$86,500</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>Regional Director</td>
                <td>Edinburgh</td>
                <td>51</td>
                <td>2008/11/13</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>Javascript Developer</td>
                <td>Singapore</td>
                <td>29</td>
                <td>2011/06/27</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>Customer Support</td>
                <td>New York</td>
                <td>27</td>
                <td>2011/01/25</td>
                <td>$112,000</td>
            </tr>
        </tbody>
    </table>

    <script>

    jQuery(function($){
        $('#example').DataTable();
    })
    </script>

<!--
<table id="tg-xE5mC">
  <tr>
    <th>Question #</th>
    <th>Question</th>
    <th>Agency for Student Health Research</th>
    <th>FITSTATS Technologies, Inc.</th>
    <th>Keffer Development Services, LLC</th>
    <th>Kinduct Technologies</th>
    <th>Computer Sports Medicine</th>
    <th>Digital Fish Ltd</th>
    <th>Fusion Sport</th>
  </tr>
  <tr>
    <td>2</td>
    <td>Software Name</td>
    <td>InjureFree</td>
    <td>AthleteMonitoring</td>
    <td>Athletic Trainer System</td>
    <td>Kinduct PerformanceKinduct Clinic</td>
    <td>SportsWareOnLine</td>
    <td>Benchmark54</td>
    <td>Smartabase</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Object-oriented or relational database?</td>
    <td>Relational</td>
    <td>Relational</td>
    <td>Relational</td>
    <td></td>
    <td>Relational</td>
    <td>Relational</td>
    <td></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Other (non-object/relational)?</td>
    <td></td>
    <td></td>
    <td></td>
    <td>Both</td>
    <td></td>
    <td></td>
    <td>Other type of database</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Appointment Scheduler?</td>
    <td>No</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>No</td>
    <td>Yes</td>
    <td>No</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Injury Module</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Most important features of Injury Module</td>
    <td>InjureFree has a unique capability to communicate directly with all caregivers within an school or youth sports organization. It also delivers and tracks any video education model, currently used for managing a population's concussion education requirements per state laws.</td>
    <td>Manage health monitoring and electronic medical record keeping. Administer pre-participation questionnaires and use concussion assessment tools, such as SCAT3. Collect every injury, illness or incident via simple and customizable collection forms. Manage medical notes and health records. Instantly generate injury graphs, assessment and statistical reports that identifies causes of injuries, injury trends and causality between activities and injuries. Measure the effectiveness of preventative interventions, calculate injury rates, missed days, athlete availability, and more. Instant notifications ensure a seamless communication between athletes, the coaching team and health care providers.</td>
    <td>Includes medical history, injury details beyond body part &amp; type, allows tracking of treatments, notes, evaluations and much more</td>
    <td>The ability to report on injuries and injury specific data in the system. Track multiple injuries and layer your injury data on a graph. Track treatment information for particular injuries. Share data with different roles inside the system (practitioner, coach, patients, player, etc)</td>
    <td>Track injury history, background, days out, days open, special test evaluations built into SOAP notes, voice-to-text for mobile dictation, secure communication between staff members on injuries,</td>
    <td>Compatibility with standard injury definitions Collaboration with research organisations for past 3 years e.g The Football Research Group in Sweden Simple to use interface Orchard Classification system Munich or British Athletic Muscle injury classification system Rapid data entry phone compatible Links injury data to GPS and Training Data Users receive and injury audit automatically each month and each season with all the data and definitions inside as well as anonymous comparison with other similar clubs or organisations</td>
    <td>Body diagrams with OSICS integration Integration with notifications Finely grained access permissions for medical data</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Ilness module?</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Most important features of Illness Module</td>
    <td>Date and time stamping of all injury/illness reported. Additionally, medical user access allows for real-time updating of current status triggering caregiver notifications, and providing provider "clearance".</td>
    <td>Illnesses are recorded and updated through our customizable incident/injury tracking module.</td>
    <td>Illnesses are included as part of the injury module. The "injury type" is recorded as the applicable illness</td>
    <td>Data that is entered can be reported on in our analytics module.</td>
    <td>This is done through our injury database. Customizable drop-downs allow you to add illnesses in injury database. You can also track doctors orders, treatments, and medications associated.</td>
    <td>Full drug formulary embedded in this module Simple and fast data entry Automatic calculation of incidence, and illness burden as per researchers standard definitions Easy to visualise impact of illness on availability of players to train</td>
    <td>Body diagrams with OSICS integration Integration with notifications Finely grained access permissions for medical data</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Sport science module?</td>
    <td>No</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>No</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Most important features of Sport Science Module</td>
    <td></td>
    <td>Store, track, assess and interpret any test result including fitness, strength &amp; conditioning, biomechanics, nutrition, psychology, physiological data using your favorite tests, formulas, protocols, norms and and benchmarks.</td>
    <td>Our system offers strength &amp; conditioning, basic physical info (including vision &amp; bp) but not all of the items listed</td>
    <td>The user can configure what they want to collect and store. Multiple data input tools for subjective and objective data. Data inputs from a large list of 3rd party devices and services through an open API. Built to integrate with other services. Reporting capabilities involve creating report templates that can be recycled by player and date range.</td>
    <td></td>
    <td>Integrates GPS semi-automatically Allows users to add in physical, functional, blood results, screening tests, fitness tests and wellness using an excel like grid The data can be visualised by squad or by athlete relationship to injury and illness can be seen</td>
    <td>Easily customised Many existing integrations with other software and hardware Simple and complex reporting</td>
  </tr>
  <tr>
    <td>12</td>
    <td>Laboratory Results Module?</td>
    <td>No</td>
    <td>Yes</td>
    <td>No</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>13</td>
    <td>Most important features of Laboratory Results Module</td>
    <td></td>
    <td>Custom fields and protocols can be used to monitor laboratory results at anytime</td>
    <td></td>
    <td>Configurable monitoring forms can be created by the user as needed.</td>
    <td>This is typically done through the "physical" database.</td>
    <td>Users can enter lab results and study the trend of these over time eg Vit D Ferritin HCT Hb Mg etc</td>
    <td>Easily customised Many existing integrations with other software and hardware Simple and complex reporting</td>
  </tr>
  <tr>
    <td>14</td>
    <td>Other module(s)?</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>15</td>
    <td>Most important features of Other Module</td>
    <td>Custom video delivery, custom surveys/knowledge based assessments, and electronic signature completion.</td>
    <td>Training planning; wellness &amp; well-being monitoring; training and competition load monitoring; risk and readiness analysis; overtraining and injury prevention.</td>
    <td>Our modules allow medical staff to use a MS-Windows module, tablet, and/or smartphone to access live, encrypted data. Other modules allow athletes to register online and use their smartphone to look up rehab schedules and contact medical staff</td>
    <td>Advanced training program builder with multi user workout view. Exercise library consisting of 5000+ videos. Large 3D physical medicine animation library of conditions and procedures labelled with ICD 9 and 10 codes. Functional Movement Screen and only online Selective Function Movement Assessment module available. Full communication tool with online, SMS and e-mail messaging. Data driven alerts, notifications, and customizable scoring system. Data export capabilities. Frequently Asked Questions builder to populate the platform. Resource library to upload all relevant content. Meal plan generator.</td>
    <td>Treatment database for daily treatment and notes, exercise/rehab database for prescribing exercise for injuries and strength and conditioning, coaches' portal allows real time access to any change in player status and generate their own travel reports and rosters, comes with mobile site for professionals that travel with team - eliminates binders and paperwork, and parent/athlete portal for collecting athlete demographics and filling out forms, referral database which tracks referrals to team doctors and outside clinics, surgery database for surgical procedures, inventory database for managing inventory, and comprehensive concussion database which encompasses SAC and BESS and ocular testing and SCAT3.</td>
    <td>Data Visulalisation module to interrogate the data  Report Module - users can produce their own reports and also we automatically send and injury and illness report once a month. Referral module - so that users can record referrals to specialists or to insurance companies</td>
    <td>Programming and periodisation Alerts and reminders Messaging Many reporting options, including Spotfire and D3 dashboards Calendars and to-do lists Full administrative interface</td>
  </tr>
  <tr>
    <td>16</td>
    <td>Overall structure how data is stored</td>
    <td>All information links to athlete</td>
    <td>All information links to athlete</td>
    <td>All information links to athlete</td>
    <td>All information links to athlete</td>
    <td>All information links to athlete</td>
    <td>All information links to athlete</td>
    <td>All information links to athlete</td>
  </tr>
  <tr>
    <td>17</td>
    <td>Other</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18</td>
    <td>How many patients or records can be stored?</td>
    <td>1000000000</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>19</td>
    <td>Can you enter multiple diagnoses under one single injury event? (eg. Dislocated shoulder and sprained ankle)</td>
    <td>No</td>
    <td>Yes</td>
    <td>No</td>
    <td>Yes</td>
    <td>No</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>22</td>
    <td>Submit Date (UTC)</td>
    <td>2016-09-06 21:30</td>
    <td>2016-09-06 22:15</td>
    <td>2016-09-07 20:56</td>
    <td>2016-09-29 17:04</td>
    <td>2016-10-03 18:49</td>
    <td>2016-10-15 14:39</td>
    <td>2016-11-01 5:36</td>
  </tr>
</table>
-->
